@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
}
h1 {
	font-size:72px;
		font-family: 'Montserrat', sans-serif;
}
p {
	font-size:20px;
	text-align:justify;
}
section {
	height:100vh
}
section.home {
	background:url(../images/home_banner.jpg);
	background-size: cover;
}
section.home h1 {
	color:#fff;
	text-align:center;
	font-size:56px;
	padding:10px 0;
	margin: 200px 0 0 0;
		background:rgba(0,0,0,0.5);
}
.navbar-inverse {
	background-color:transparent;
	border-color: transparent;
}
.navbar-header {
	float: none;
	position:relative;
}
.navbar-brand {
	padding: 0;
	height:auto;
	margin:20px 0 0 0;
	
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
		background:none;
}
.navbar-toggle {
	display: block;
	margin-right:0;
	margin-top:62px;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 40px;
	height: 3px;
	border-radius: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-collapse {
	float:right;
	width:280px;
	background: #101010;
	position: absolute;
	right: 0;
	z-index:10;
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
}
.navbar-nav>li {
	float: none;
}
.navbar-collapse.collapse.in {
	display:block !important;
}
.logo {
	margin:30px 0 0 0;
}
.about {
	padding:60px 0;
		background:url(../images/about_bg.png) left no-repeat;
		background-size:contain;
}
.about .container{

}
.about h1 {
	font-size:80px;
	color:#C8A27E;
	margin-bottom:90px;
	border-bottom:3px #C8A27E solid;

}
.about p {
	color:#6A5A4D;

}
.how {
	position:relative;
}
.left-how {
	background:url(../images/how_bg_left.png) repeat;
	width:50%;
	height:100%;
}
.right-how {
	background:url(../images/how_bg_right.png) repeat;
	width:50%;
	height:100%;
}
.how_content {
	position:absolute;
	top:0;
	width:100%;
	padding:100px 0;
}
.how_content h1 {
	text-align: right;
	color: #fff;
	margin: 90px 0 20px 0;
	border-bottom:3px #fff solid;
}
.how_content p {
	color:#E8CB87;
	text-align:justify;
}
.services {
	background:url(../images/services_banner.jpg) right bottom no-repeat;
	padding:200px 0;
}
.services h1 {
	font-size:80px;
	color:#E79C3F;
	margin-bottom:90px;
	border-bottom:3px #EFECE5 solid;
}
.services p {
	color:#E79C3F;
	text-align:justify;
}
.services ul {
	color:#E79C3F;
	font-size:20px;
	font-weight:bold;
	list-style:square;
	font-style:italic;
}
.services ul span {
	font-weight:normal;
	font-style:normal;
}
.clients {
	background:url(../images/clients_bg.jpg);
	background-size:cover;
	padding:80px 0 200px 0;
}
.clients h1 {
	font-size:80px;
	color:#fff;
	margin-bottom:90px;
	text-align:center;
	position:relative;
	border-bottom:3px #fff solid;
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.owl-carousel .owl-stage-outer {
    background: #fff;
}
.owl-nav{
	color:#fff;
	font-size:24px;
}
.owl-carousel .owl-nav .owl-next{

    position: absolute;
    right: -4%;
    top: 42%;
}
.owl-carousel .owl-nav .owl-prev{
	   position: absolute;
    left: -4%;
    top: 42%;
}
.work {
	background:url(../images/work_bg.jpg) right no-repeat;
	padding:200px 0;
}
.work h1 {
	font-size:80px;
	color:#E79C3F;
	margin-bottom:90px;
	border-bottom:3px #E79C3F solid;
}
.work p {
	color:#E79C3F;
	text-align:justify;
}
.work ul {
	color:#E79C3F;
	font-size:20px;
	font-weight:bold;
	list-style:square;
	font-style:italic;
}
.work ul span {
	font-weight:normal;
	font-style:normal;
}
footer{
	padding:30px 0;
	background:#9D8056;
	color:#CFB896;
	font-size:11px;
}
footer .img-responsive{
	display:inline-block;
}
.inner_container{
	background:rgba(255,255,255,0.9);
	padding:15px;
	margin:15px 0;
	position:relative;
}
.inner_container h1{
		color:#C8A27E;
}
.inner_container h2{
		color:#E79C3F;
		padding-bottom:15px;
		border-bottom: #C8A27E 1px solid;
}
.inner_container p {
	color:#6A5A4D;
	font-family: 'Montserrat', sans-serif;
}
/*-about_details*/
.about_detail{
	background:url(../images/about_detail.jpg);
	background-size:cover;
	background-attachment:fixed;
	height:auto;
}
@media (max-width: 768px){
	section{
		height:auto;
	}
	h1:after, h1:before{
		display:none;
	}
	.how_content {
    position: relative;
	background:url(../images/how_bg_right.png);
	}
}