@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
		font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#000;
}
a, a:hover {
    color: #fff;
    text-decoration: none;
}
.form-control::-webkit-input-placeholder {
    color:#fff;
}

.form-control::-moz-placeholder {
    color:#fff;
}

.form-control::-ms-placeholder {
    color:#fff;
}

.form-control::placeholder {
    color:#fff;
}
h1 {
	font-size:72px;

}
p {
	font-size:20px;
	text-align:justify;
}
header{
	position:fixed;
	width:100%;
	background: -moz-linear-gradient(top, rgba(167,104,40,1) 0%, rgba(216,127,41,1) 34%, rgba(216,127,41,1) 50%, rgba(216,127,41,0.46) 77%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(167,104,40,1) 0%,rgba(216,127,41,1) 34%,rgba(216,127,41,1) 50%,rgba(216,127,41,0.46) 77%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(167,104,40,1) 0%,rgba(216,127,41,1) 34%,rgba(216,127,41,1) 50%,rgba(216,127,41,0.46) 77%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a76828', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
z-index:1;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
section {
	height:100vh
}
section.home {

}
section.home h1 {
	color:#fff;
	text-align:center;
	font-size:56px;
	padding:10px 0;
	margin:0;
	position:absolute;
	top:50%;
	width:100%;
}
.navbar-inverse {
	background-color:transparent;
	border-color: transparent;
}
.navbar-header {
	float: none;
	position:relative;
}
.navbar-brand {
	padding: 0;
	height:auto;
	margin:20px 0 0 0;
	
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
		background:none;
}
.navbar-toggle {
	display: block;
	margin-right:0;
	margin-top:62px;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 40px;
	height: 3px;
	border-radius: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #EA6408;
}
.navbar-inverse .navbar-toggle {
	border-color: #fff;
	background:#fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	border-color: #fff;
	background:#fff;
}
.navbar-collapse {
	float:right;
	width:280px;
	background: #101010;
		border: 1px #EA6408 solid;
	position: absolute;
	right: 0;
	z-index:10;
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
}
.navbar-nav>li {
	float: none;
}
.navbar-collapse.collapse.in {
	display:block !important;
}
.logo {
	margin:30px 0 0 0;
}
.about {
	padding:60px 0;
		background:url(../images/home_banner4.jpg) left no-repeat;
		background-size:cover;
}
.about .container{

}
.about h1 {
font-size: 72px;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 3px #fff solid;
    margin-top: 0;
}
.about p {
	    color: #fff;
    font-size: 14px;

}
.how {
	position:relative;
}
.left-how {
	background:url(../images/how_bg_left.png) repeat;
	width:50%;
	height:100%;
}
.right-how {
	background:url(../images/how_bg_right.png) repeat;
	width:50%;
	height:100%;
}
.how_content {
	position:absolute;
	top:0;
	width:100%;
	padding:100px 0;
}
.how_content h1 {
	text-align: right;
	color: #fff;
	margin: 90px 0 20px 0;
	border-bottom:3px #fff solid;
}
.how_content p {
	color:#E8CB87;
	text-align:justify;
}
.services {
	background:url(../images/services_banner.jpg) right bottom no-repeat;
	padding:150px 0;
}
.services h1 {
	font-size:80px;
	color:#EA6408;
	margin-bottom:90px;
	border-bottom:3px #EA6408 solid;
}
.services p {
	color:#EA6408;
	text-align:justify;
}
.services ul {
	color:#EA6408;
	font-size:20px;
	font-weight:bold;
	list-style:square;
	font-style:italic;
}
.services ul span {
	font-weight:normal;
	font-style:normal;
}
.clients {
	background:url(../images/clients_bg.jpg);
	background-size:cover;
	padding:80px 0 200px 0;
}
.clients h1 {
	font-size:80px;
	color:#fff;
	margin-bottom:90px;
	text-align:center;
	position:relative;
	border-bottom:3px #fff solid;
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.owl-carousel .owl-stage-outer {
    background: #fff;
}
.owl-nav{
	color:#fff;
	font-size:24px;
}
.owl-carousel .owl-nav .owl-next{

    position: absolute;
    right: -4%;
    top: 42%;
}
.owl-carousel .owl-nav .owl-prev{
	   position: absolute;
    left: -4%;
    top: 42%;
}
.work {
	background:url(../images/work_bg.jpg) right no-repeat;
	padding:200px 0;
}
.work h1 {
	font-size:80px;
	color:#EA6408;
	margin-bottom:90px;
	border-bottom:3px #EA6408 solid;
}
.work p {
	color:#EA6408;
	text-align:justify;
}
.work ul {
	color:#EA6408;
	font-size:20px;
	font-weight:bold;
	list-style:square;
	font-style:italic;
}
.work ul span {
	font-weight:normal;
	font-style:normal;
}
footer{
	padding:30px 0;
	background:rgba(167,104,40,1);
	color:#FFF;
	font-size:11px;
	position:relative;
}
footer .img-responsive{
	display:inline-block;
}
.inner_container{
	margin:175px 0 20px 0;
	position:relative;
}
.inner_container h1{
		color:#fff;
		font-weight:700;
}
.inner_container h2{
		color:#fff;
		padding-bottom:15px;
		border-bottom: #fff 1px solid;
}
.inner_container p {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}
/*-about_details*/
.about_detail{
	background:url(../images/about_detail.jpg);
	background-size:cover;
	background-attachment:fixed;
	height:auto;
}
.about_inner{
	   background: rgba(0,0,0,0.7);
    margin-top: 150px;
    padding: 20px;

}
.project_detail{
	background:url(../images/home_banner5.jpg);
	background-size:cover;
	background-attachment:fixed;
	height:auto;
}
.project_detail p{
	color:#fff;
	font-size:14px;
	margin-bottom:10px;
}
.project_detail img{
	min-height: 238px;
    margin-bottom: 10px;
}
.career_detail{
	background:url(../images/careers1.jpg);
	background-size:cover;
	background-attachment:fixed;
	height:auto;
}
.career_detail .inner{
	background: rgba(0,0,0,0.7);
    margin-top: 150px;
    padding: 20px;

}
.career_detail p{
	color:#fff;
}
.contant_detail{
	background:url(../images/home_banner3.jpg);
	background-size:cover;
	background-attachment:fixed;
	height:auto;
}
.contant_detail .inner{
	background: rgba(0,0,0,0.4);
    padding: 20px;
	text-align:right;

}
.contant_detail p{
	color:#fff;
		text-align:right;
}
.contant_detail h1{
	margin-top:0;
}
.overlay{
		
	width: 100%;
    height: 100%;
    background: inherit;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}
.overlay:before{
	width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 300px rgba(0,0,0,0.5);
    filter: blur(10px);
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background: rgba(0,0,0,0.4);
    /* background-image: none; */
    border:0;
    border-radius: 0;
   
}
.contant_detail .btn-primary {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    border-color: transparent;
    border-radius: 0;
}


@media (max-width: 768px){
	section{
		height:auto;
	}
	h1:after, h1:before{
		display:none;
	}
	.how_content {
    position: relative;
	background:url(../images/how_bg_right.png);
	}
}
